html,body{
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  background-color: #e6e6e6;
}

/*styling nav class */
.nav-bar{
  position: fixed;
  top: -100%;
  left: 0;
  background-image: linear-gradient(#035303,green);
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  transition-duration: 1.5s;
  width: 100%;
  height: 70px;
}


/*styling image and list logo*/
.logo{
  flex: 0 1 18%;
  border-radius: 100%;
  border: 2px solid black;
  height: 60px;
  margin: 0;
  padding: 0;
}

.title{
  flex: 0 2 33%;
  text-align: center;
  font-weight: 500;
  padding-left: 2px;
  color: #04d204;
}

.list,.profile{
  flex: 0 1 18%;
  border-radius: 10px;
  border: 2px solid black;
  height: 60px;
  margin: 0;
  padding: 0;
}

.list-cont{
  text-align: center;
  margin: 0;
  padding: 0;
  
}

.container{
  width: 87%;
  height: 600px;
  border: 2px solid yellow;
  margin: auto auto;
  margin-top: 100px;
  padding: 10px;
  text-align: center;
}
.container2{
  width: 87%;
  height: 650px;
  border: 2px solid yellow;
  border-radius: 7px;
  margin: auto auto;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  
}

.form{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-gap: 30px;
  margin-top: 40px;
}

.input-field{
  display: block;
  background-image: linear-gradient(#12a612,#078007);
  color: lightgreen;
  text-align: center;
  margin: 0;
  padding: 10px;
  height: 30px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 800;
}
.input-field::placeholder{
  color: lightgreen;
  text-align: center;
  font-size: 18px;
  font-weight: 800;
}

.classDisplay{
  margin: 0;
  padding: 2px;
  width: 60px;
  margin: auto auto;
  margin-top: 55px;
  height: 30px;
  line-height: 30px;
  border: 2px outset green;
  border-radius: 5px;
  background-image: linear-gradient(#e4e4e4,#b5b5b5);
  text-align: center;
}

.school-logo{
  display: block;
  margin: 0;
  padding: 0;
  border-radius: 20px;
  border: 3px solid #30ec41;
  width: 40%;
  margin: auto auto;
}

/* sign in button styling*/
.sign-button{
  display: block;
  background-color: blue;
  color: white;
  text-align: center;
  padding: 10px;
  width: 93%;
  margin: auto auto;
  margin-top: 30px;
  height: 50px;
  font-size: 25px;
  transition-duration: 1s;
}
.submit-button{
  display: block;
  width: 90%;
  background-color: blue;
  color: white;
  text-align: center;
  margin: 0;
  margin: auto auto;
  margin-top: 40px;
  padding: 10px;
  height: 50px;
  font-size: 25px;
  transition-duration: 1s;
  font-weight: 700;
}

.sign-button:hover,.submit-button:hover{
  transform: translateY(-10%);
  transform: scale(1.04);
  background-color: #0720ae;
}

.terms-condition{
  display: block;
  margin-top: 10px;
}

#canvas {
  display: block;
  margin: 10px auto; /* Centers the canvas */
  width: 90%; /* Adjust width dynamically */
  max-width: 300px; /* Prevents too large size */
  height: 100px;
  border: 2px solid black;
  touch-action: none;
}
#clearCanvasBtn{
  width: 150px;
  height: 30px;
  padding: 3px;
  background-color: black;
  color: white;
  font-size: 18px;
  font-weight: 700;
  border-radius: 7px;
}
#clearCanvasBtn:hover{
  background-color: #373636;
}

#indicator{
  width: 17px;
  height: 17px;
  border-radius: 100%;
  background-color: #46ef46;
  border: 2px solid gray;
}

span {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers both text and button */
  gap: 5px; /* Adds spacing */
}

.class-attendance{
  position: fixed;
  left: 0;
  transform: translateY(0%);
  width: 100%;
  height: 800px;
  background-color: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  text-align: center;
  transition-duration: 1.5s;
  overflow: scroll;
}
.list-title{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: blue;
  font-size: 20px;
  font-weight: 500;
  padding: 5px;
}

.dialogBox{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 350px;
  height: 350px;
  color: white;
  font-size: 25px;
  text-align: center;
  border-radius: 10px;
  background-color: black;
}
.dialog-cancleButton{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 10px;
  width: 180px;
  height: 40px;
  border-radius: 5px;
  background-color: #d07207;
  font-size: 20px;
  color: white;
}
#countdown{
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px outset #fe9013;
}

.cancle{
  display: block;
  width: 30px;
  height: 30px;
}

.slide-show{
  position: fixed;
  top: 32px;
  right: 0;
  width: 0px;
  overflow-x: hidden;
  transition: width 1s;
  backdrop-filter: blur(20px);
  height: 500px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 2px solid gray;
}

.toogle{
  background: linear-gradient(#0a5402,#1cc50a);
  width: full;
  height: 100px;
  line-height: 100px;
  color: white;
  text-align: center;
  font-size: 30px;
  margin: 4px;
}

.content {
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease-in-out; /* Smooth transition */
}

.feedback-section{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-57%);
  display: none;
  width: 90%;
  height: auto;
  box-shadow: 0px 30px 30px  rgba(0, 200, 0, 0.4);
  backdrop-filter: blur(20px);
  border-radius: 15px;
  text-align: center;
}

.feedback-form{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-column-gap: 10px;
  justify-items: center;
  align-items: center;
  width: 400px;
  margin: 200px auto ;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 200, 0, 0.4);
  text-align: center;
}

.form-text{
  display: block;
  border-radius: 10px;
  padding: 10px;
  margin: auto auto;
  border-radius: 10px;
}

.input-name,.input-email{
  display: block;
  width: 50%;
  height: 25px;
  margin: 10px auto;
  border: 1px solid green;
  border-radius: 5px;
}

.send-but{
  width: 60%;
  margin: 25px auto;
  text-align: center;
  padding-left: 90px;
}
.feedback-cancle{
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 5px;
  background: green;
}
.cancle-icon:hover{
  stroke: yellow;
}

#review{
  position: fixed;
  top: 75px;
  right: 10px;
  z-index: 10;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  backdrop-filter: blur(10px);
  color: black;
  border-radius:5px;
  width: 80px;
  height: 30px;
  line-height: 30px;
  padding: 3px;
  text-align: center;
  border: 1px solid yellow;
  font-weight: 600;
}
#review:hover{
  background-color: green;
  color: yellow;
                                    }
